body {
    margin: 20px;
}

h1 {
    font-size: 5em;
}

body.dark-mode .esimene {
    background-color:#1e1e1e;
    color: white;
}

.teine {
    background-color: #f9e7b789;
    padding: 20px;
    text-align: left;
    font-size: 1.1em;
    color: #4A4A4A;
    border-top: 2px solid #FF6F61;
    border-bottom: 2px solid #FF6F61;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.esimene p {
    margin-bottom: 20px;
}

body.dark-mode .teine {
    background-color: #1e1e1e;
    color: white;
}
.esimene {
    background-color: #F4C2C2;
    padding: 20px;
    text-align: left;
    font-size: 1.1em;
    color: #4A4A4A;
    border-top: 3px solid #FF6F61;
    border-bottom: 2px solid #FF6F61;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.teine p {
    margin-bottom: 20px;
}

.video {
    width: 90%;
    height: 90%;
    aspect-ratio: 16 / 9;
    border: none;
    border-radius: 20px;
    padding: 5px;
    padding-left: 0px;
}

.image {
    height: 575px;
    width: 450px;
    border-radius: 20px;
    padding: 5px;
}

.lõpuosa {
    border-radius: 10px;
}