@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@700&display=swap');

h1 {
    font-size: 5em;
}

h3 {
    text-align: center;
}

.book-section {
    display: flex;
    align-items: flex-start;
    gap: 20px; 
 
    padding: 20px;
    border-top: 3px solid #FF6F61; 
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

body.dark-mode .book-section:nth-child(odd) {
    background-color:#1e1e1e;
    color: white;
}

.book-section:nth-child(even) {
    background-color: #F4C2C2; 
}

.book-section:nth-child(odd) {
    background-color: #F9E7B789; 
}

body.dark-mode .book-section:nth-child(even) {
    background-color:#1e1e1e;
    color: white;
}

button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

.book-section img {
    flex-shrink: 0;
    width: 200px; 
    height: auto; 
    padding-right: 20px;
    padding-left: 20px;
}

.book-details {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    max-width: 1200px; 
}

.book-details h2 {
    margin: 0; 
}

.book-details p {
    margin: 5px 0; 
}