@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@700&display=swap');

:root {
    --background-color: linear-gradient(to bottom right, #F7E6B9, #F4C2C2);  
    --text-color: #555;        
    --primary-color: #4CAF50;      
    --secondary-color: #f4f4f4;
}

body {
    background: var(--background-color);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 20px;
    color: var(--text-color);
}

body.dark-mode {
    --background-color: #121212;  
    --text-color: #ffffff;         
    --primary-color: #FF5722;      
    --secondary-color: #333333;    
}

h1 {
    color: #FF6F61;
    font-size: 5em;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    font-family: 'Poppins', sans-serif;
}

h3 {
    text-align: center;
}

.book-section {
    display: flex;
    align-items: flex-start;
    gap: 20px; 
 
    padding: 20px;
    border-top: 3px solid #FF6F61; 
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

body.dark-mode .book-section:nth-child(odd) {
    background-color:#1e1e1e;
    color: white;
}

.book-section:nth-child(even) {
    background-color: #F4C2C2; 
}

.book-section:nth-child(odd) {
    background-color: #F9E7B789; 
}

body.dark-mode .book-section:nth-child(even) {
    background-color:#1e1e1e;
    color: white;
}

button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

.book-section img {
    flex-shrink: 0;
    width: 200px; 
    height: auto; 
}

.book-details {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    max-width: 800px; 
}

.book-details h2 {
    margin: 0; 
}

.book-details p {
    margin: 5px 0; 
}
