body {
    background: linear-gradient(to bottom right, #F7E6B9, #F4C2C2);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    background: var(--background-color);
    color: var(--text-color);
    margin: 0;
}

:root {
    --background-color: linear-gradient(to bottom right, #F7E6B9, #F4C2C2);  
    --text-color: #555;        
    --primary-color: #4CAF50;      
    --secondary-color: #f4f4f4;
}

.header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: transparent;
}

.home-button img {
    width: 35px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.home-button img:hover {
    transform: scale(1.05);
}

#themeSwitcher {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#themeSwitcher:hover {
    background-color: #333;
    transition: background-color 0.3s ease;
}

h1 {
    color: #FF6F61;
    font-size: 7.5em;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    margin: 0;
}

h3 {
    text-align: center;
}

body.dark-mode {
    --background-color: #121212;  
    --text-color: #ffffff;         
    --primary-color: #FF5722;      
    --secondary-color: #333333;    
}

.lõpuosa {
    padding: 20px;
    text-align: center;
    font-size: 1em;
    color: #4A4A4A;
}

body.dark-mode .lõpuosa {
    color: white;
}