body {
    background: linear-gradient(to bottom right, #F7E6B9, #F4C2C2);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    justify-content: center;
    margin: 20px;
    align-items: center;
    transition: all 0.3s ease;
    background: var(--background-color);
    color: var(--text-color);
}

:root {
    --background-color: linear-gradient(to bottom right, #F7E6B9, #F4C2C2);  
    --text-color: #555;        
    --primary-color: #4CAF50;      
    --secondary-color: #f4f4f4;
}

h1 {
    color: #FF6F61;
    font-size: 7.5em;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    margin: 0;
}

body.dark-mode {
    --background-color: #121212;  
    --text-color: #ffffff;         
    --primary-color: #FF5722;      
    --secondary-color: #333333;    
}